---
title: 'HTML Basics'
---
# 0 - HTML Basics
*Beginner*

### Create a basic HTML page as per listed requirements
- It should have a heading "Top 5 Most Popular Games"
- It should contain an ordered list with the following values:
  1. Elden Ring
  1. The Witcher 3: Wild Hunt
  1. God of War
  1. World of Warcraft
  1. Counter Strike: Global Offensive

---
**Bonus** : Apply styles of your choice to make the page look nicer.