# Roadmap

This page will guide you through the journey of becoming a full stack web developer by outlining the roadmap for this series.

- Introduction to Web
- HTML
- CSS
- Javascript
- Data structures
- Algorithms
- SQL
- React
- NodeJS
- Meta Frameworks